<!-- <p>heroes works!</p> -->
<div class="section">
    <div class="container">
        <div class="field">
            <label class="label" >Logic:</label>
            <div class="control">
                <textarea class="textarea" placeholder="Add the logic here!" [(ngModel)]="myLogic">
                    At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                    </textarea>
            </div>
          </div>
        
        <div class="field">
            <label class="label">Data:</label>
            <textarea class="textarea" placeholder="Add your data here!" [(ngModel)]="myData">
    
            </textarea>
        </div>
        <button class="button is-link" (click)="open($event)">Execute</button>
        
    </div>
</div>

<div class="section">
    <div class="notification" [ngClass]="{
        'is-primary': result,
        'is-danger': !result
    }" >
        <p>{{result}}</p>
    </div>    
</div>
